# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

pool: Initial Pool

stages:
  - stage: Build_UI
    displayName: "Build ToDO UI"
    jobs:
      - job: Build_UI
        displayName: "Build To Do App UI"
        steps:
        - task: NodeTaskRunnerInstaller@0
          displayName: "nodejs install"
          inputs:
            nodeVersion: '16'
        
        - task: Npm@1
          displayName: "npm install"
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'

        - task: Npm@1
          displayName: "npm run build"
          inputs:
            command: 'custom'
            workingDir: '${System.DefaultWorkingDirectory}'
            customCommand: 'run build'
        
        - task: ArchiveFiles@2
          displayName: "ZIP artefact"
          inputs:
            rootFolderOrFile: '${System.DefaultWorkingDirectory}/build'
            includeRootFolder: true
            archiveType: 'zip'
            archiveFile: '${System.DefaultWorkingDirectory}/build.zip'
            replaceExistingArchive: true
        
        


