trigger:
  branches:
    include:
      - main
      - feature/*
      - develop/*

variables:
- name: buildDir
  value: '$(System.DefaultWorkingDirectory)/build/'
- name: artifact
  value: todoapp-build-artifact

parameters:
  - name: env
    displayName: Do you want to deploy ReactToDo to Dev?
    type: string
    default: Dev
    values:
      - Dev
      - QA

pool: Azure Pipelines

stages:
  - stage: Build
    displayName: Install Dependencies and Build ReactUI App

    jobs:
      - job: Install_Dependencies_and_Build_ReactUI
        displayName: Install dependencies and build
        steps:
        - checkout: self
          clean: true
        - task: NodeTool@0
          displayName: Install NodeJS 16.x
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
        - task: PowerShell@2
          displayName: npm Install
          inputs:
            targetType: 'inline'
            script: npm install

        - task: PowerShell@2
          displayName: Build npm
          inputs:
            targetType: 'inline'
            script: npm run build

        - task: ArchiveFiles@2
          displayName: Archive Artifacts
          inputs:
            rootFolderOrFile: '$(buildDir)'
            includeRootFolder: true
            archiveType: 'zip'
            archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
            replaceExistingArchive: false

        - task: PublishPipelineArtifact@1
          displayName: Publish Build Artefacts
          inputs:
            targetPath: '$(buildDir)'
            artifact: '$(artifact)'
            publishLocation: 'pipeline'

  - stage: Lint
    displayName: Linting

    jobs:
      - job: Linting
        displayName: Install Biome and Lint React App
        continueOnError: true

        steps:
        - checkout: self
          clean: true

        - task: NodeTool@0
          displayName: Install NodeJS 16.x
          inputs:
            versionSpec: '16.x'
        - task: PowerShell@2
          displayName: Install and Run Biome
          inputs:
            targetType: 'inline'
            script: |
              $ErrorActionPreference = "Continue"
              npm install --save-dev @biomejs/biome
              npx biome init
              npx biome lint .
              npx biome format .
              npx biome check .
              npx biome check --write
              exit 0

  - stage: Deploy
    displayName: DeployToVM
    dependsOn: [ Build, Lint ]

    jobs:
      - deployment: DeployToDev
        displayName: Deploy To Dev
        condition: and(succeeded(), eq('${{ parameters.env }}', 'Dev'))
        environment: Dev

        strategy:
          runOnce:
            deploy:
              steps:
              - task: DownloadBuildArtifacts@1
                displayName: Download Artifacts to Dev env
                inputs:
                  buildType: 'current'
                  downloadType: 'single'
                  artifactName: '$(artifact)'
                  downloadPath: '$(Pipeline.Workspace)/todoapp-build-artifact'
                  
              - task: CopyFilesOverSSH@0
                displayName: Copy Build Artifact to Dev VM
                inputs:
                  sshEndpoint: 'sshSC'
                  sourceFolder: '$(Pipeline.Workspace)/todoapp-build-artifact'
                  contents: '**'
                  targetFolder: '/var/www/html'
                  readyTimeout: '20000'

              - task: SSH@0
                displayName: Restart Nginx in Dev VM
                inputs:
                  sshEndpoint: 'sshSC'
                  runOptions: 'commands'
                  commands: |
                    sudo systemctl restart nginx
                    echo "Nginx restarted successfully in Dev env."
                  readyTimeout: '20000'

      - deployment: DeployToQA
        displayName: Deploy to QA
        environment: QA
        condition: and(succeeded(), eq('${{parameters.env}}', 'QA'))

        strategy:
          runOnce:
            deploy:
              steps:
              - task: DownloadBuildArtifacts@1
                displayName: Download Artifacts to QA env
                inputs:
                  buildType: 'current'
                  downloadType: 'single'
                  artifactName: '$(artifact)'
                  downloadPath: '$(Pipeline.Workspace)/todoapp-build-artifact'
                  
              - task: CopyFilesOverSSH@0
                displayName: Copy Build Artifact to QA VM
                inputs:
                  sshEndpoint: 'sshSC'
                  sourceFolder: '$(Pipeline.Workspace)/todoapp-build-artifact'
                  contents: '**'
                  targetFolder: '/var/www/html'
                  readyTimeout: '20000'

              - task: SSH@0
                displayName: Restart Nginx in QA env
                inputs:
                  sshEndpoint: 'sshSC'
                  runOptions: 'commands'
                  commands: |
                    sudo systemctl restart nginx
                    echo "Nginx restarted successfully in QA env."
                  readyTimeout: '20000'
              

              
        